# 1

In [1]:
def f_hh_mm_ss(segs):
    
    horas= segs//3600
    minutos= (segs-horas*60)//60
    segundos= segs-horas*3600-minutos*60
    print('{} horas, {} minutos, {} segundos'.format(horas, minutos, segundos))
    return horas, minutos, segundos

In [2]:
f_hh_mm_ss(2743)

0 horas, 45 minutos, 43 segundos

(0, 45, 43)

# 2

In [3]:
def f_car(c,n):
    def t_shape(c,n,j):
        x=''
        for k in range(n):
            if k%2==0:
                x+=c*(j+1)+' '*(n-j-1)
            else:
                x+=c*(n-j-1)+' '*(j+1)
        return x
    for i in range(n):
        print(t_shape(c,n,i))

In [4]:
f_car('*', 5)

*    **** *    **** *
**   ***  **   ***  **
***  **   ***  **   ***
**** *    **** *    ****
*****     *****     *****

# 3

In [5]:
def fecha_edad(fecha):
    from datetime import datetime
    # dates in string format

    # convert string to date object
    d1 = datetime.strptime(fecha, "%Y/%m/%d")

    # difference between dates in timedelta
    delta = datetime.now() - d1
    print(f'Difference is {delta.days} days')

In [6]:
fecha_edad('2003/03/03')

Difference is 7308 days

# 4

In [7]:
def f_t2s(tupla):
    x=''
    for val in tupla:
        x+=str(val)
    return x

In [8]:
f_t2s((10,20,30,40))

'10203040'

# 5

In [9]:
def empty_tuples(vec):
    x=[]
    for tp in vec:
        if tp:
            x.append(tp)
    return x.copy()

In [10]:
empty_tuples([(),('X'),(1,2,3)])

['X', (1, 2, 3)]

# 6

In [11]:
def prom_tuplas(tupla):
    x=[]
    for tp in tupla:
        i=0
        s=0
        for v in tp:
            i+=1
            s+=v
        x.append(s/i)
    return tuple(x)

In [12]:
prom_tuplas(((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32)))

(10.5, 44.0, 58.0)

# 8

In [19]:
def f_deck():
    x=[]
    for t in ('T','P','C', 'E'):
        for i in range(1,14):
            x.append(t+str(i))
    return x

In [26]:
import numpy as np

def sample_2(deck, s1, s2):    
    return np.concatenate([np.random.choice(deck, s1, replace=False),np.random.choice(deck, s2, replace=False)])
def sample_1(deck,s1):
    return np.random.choice(deck, s1, replace=False)

In [27]:
deck=f_deck()

In [30]:
sample_1(deck, 10)

array(['C9', 'C6', 'P11', 'E1', 'T5', 'P3', 'P4', 'E10', 'C11', 'T8'],
      dtype='<U3')

In [29]:
sample_2(deck, 10, 20)

array(['P2', 'T3', 'P5', 'P7', 'C12', 'C3', 'E5', 'E10', 'C5', 'P1', 'C4',
       'C1', 'P3', 'P12', 'P5', 'T2', 'E4', 'T11', 'T5', 'E11', 'T13',
       'C9', 'E10', 'P4', 'P9', 'E8', 'E7', 'T10', 'C10', 'E9'],
      dtype='<U3')